.breadcrumb {
  border-radius: 0;
  background: none;
  border-bottom: #674d8f solid 2px;
  padding-bottom: 20px;
  padding-top: 20px;

}

.breadcrumb li a {
  color: #707070;
  font-size: 12px;
  font-weight: 500;

}