/*
content
 */
.content-box {
  border: none !important;
}
.content-box > .card-header {

  border-bottom: #674d8f solid 2px;
  padding: 16px 15px 11px;
}

.content-box-body {
  margin-top: 10px;
}

.content-box-title {
  font-weight: 500;
}

.content-box-footer {
  font-weight: 500;
}

.content-box-footer .pagination > li > a {
  font-size: 13px !important;
  background: white;
}

.content-box-body .error {
  color: red !important;
}
