.login-page {
  margin-top: 100px;
  padding-bottom: 50px;
  min-height: 420px;
}

.login-form {
  background-color: white !important;
}

.login-header {
  background-color: white !important;
}

.login-header h5 {
  font-weight: 700;
}