/*
widget
 */
.widget {

  font-size: 13px;
  transition: visibility 0s, opacity 0.5s linear;
}

.widget h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

.widget-counter-title {
  margin: 0px;
}

.widget-list {
  border-bottom: #674d8f solid 1px;
  padding-top: 10px;
}

.widget-list-title {
  color: green;
}

.widget-list-body {
  font-size: 14px;
  font-weight: 500;
}

.widget-counter {
  height: 120px;
  display: block;
  color: white;

}

.widget-counter-icon {
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
  position: absolute;
  top: -10px;
  right: 10px;
  z-index: 0;
  color: rgba(0, 0, 0, 0.15);
  font-size: 60px;
}

.widget-counter-footer {
  color: white;
}







